@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap');

#background {
    background-color: #bfbfbf;
}

h1 {
    font-family: 'Roboto Mono', monospace;
}

#list {
    background-color: white;
}

.container{
    border-radius: 25px;
    background-color: #d9d9d9;
}

.container h2 {
    background-color: #808080;
    margin: 0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

hr {
    color: yellow;
    border-width: 1px; 
}